html{
scroll-behavior:smooth;
}
*{
background-color:;
}
.header_img{
background-color:#F8F8F8;
}

.logo{
margin-top:0;
}
.name{
font-family:simplifica;
font-size:30px;
font-weight:bold;
background-color:;
letter-spacing:.1em;
}

.user{
background-color:;
text-align:center;
}
.heading_text{
font-size:28px;
font-family:simplifica;
}
.paragraph_text{
font-size:16px;
letter-spacing.2em;
text-align:justify;
background-color:#fff;
}
.text{
text-align:justify;
letter-spacing:.2em;
font-family:sans-serif;
background-color:#F8F8F8;
}
.know_more{
margin-left:115px;
border:1px solid #3C1874;
border-radius:25px;
box-shadow:1px 3px #888888;
}
.know_more:hover{
background-color:blue;
}
.quotes{
font-family:cursive;
text-align:center;
font-weight:bold;
}
.account_card{
background-color:;
margin-left:0;
border:2px solid;
border-radius:25px;
box-shadow:2px 3px #888888;
}

.card_dec{
border:1px solid #3C1874;
border-radius:35px;
}
.shadow-lg p-3 mb-5 bg-body rounded{
border-radius:25px;
}
.card_contact{
text-align:center;
}

.Dropdown{
display:block;
}
#Dropdown-Button{
position:relative;
display:block;
border-radius:25px;
}
.Dropdown-Menu{
display:none;
margin-top:10px;
position:relative;
}
.Dropdown:hover .Dropdown-Menu{
display:flex;
position:relative;
}

.tele_icon{
border-radius:50%
}
.upi{
margin-left:20px;
}
/*** link ***/
.tele_link{
text-decoration:none;
margin-left:20px;
font-size:19px;
}

.brand_name{
animation-name:example;
font-weight:bold;
animation-duration:5s;
}
@keyframes example{
0%{color:green;}
25%{color:red;}
50%{color:fuchsia;}
70%{color:tomato;}
85%{color:blue;}
100%{color:pink;}
}
.name{
position:relative;
animation-name:examples;
animation-duration:3s;
animation-direction:reverse;
}
@keyframes examples{
0%{left:0px;top:0px;}
25%{left:200px;top:0px;}
50%{left:200px;top:200px;}
75%{left:0px;top:200px;}
100%{left:0px;top:0px;}
}


/*.card_slide{*/
/*position:relative;*/
/*animation-name:exam;*/
/*animation-duration:3s;*/
/*}*/
/*@keyframes exam{*/
/*0%{left:0px;top:0px;}*/
/*100%{left:0px;top:40px;}*/
/*}*/
