html{
scroll-behavior:smooth;
}
.logo{
margin-top:-33px;}
.name{
font-family:simplifica;
font-size:30px;
font-weight:bold;
background-color:white;
letter-spacing:.1em;
}

.user{
background-color:#fff;}
.heading_text{
font-size:28px;
font-family:simplifica;
}
.paragraph_text{
font-size:16px;
letter-spacing.2em;
text-align:justify;
background-color:#fff;
}
.text{
text-align:justify;
letter-spacing:.2em;
font-family:sans-serif;
background-color:#F8F8F8;
}
.know_more{
margin-left:150px;
border:1px solid #3C1874;
border-radius:25px;
box-shadow:2px 5px #888888;
}
.know_more:hover{
background-color:blue;
}
.quotes{
font-family:cursive;
text-align:center;
}
.account_card{
margin-left:65px;
border:2px solid black;
border-radius:25px;
box-shadow:3px 7px;
}
.a_1{
margin-left:20px;
margin-top:-5px;
}
.a_2{
margin-left:100px;
margin-top:-49px;
}
.a_3{
margin-left:180px;
margin-top:-51px;
}
.a_4{
margin-left:255px;
margin-top:-49px;
}
.card_dec{
border:1px solid #3C1874;
border-radius:35px;
}
.shadow-lg p-3 mb-5 bg-body rounded{
border-radius:25px;
}
.card_contact{
text-align:center;
}

.Dropdown{
display:block;
}
#Dropdown-Button{
position:relative;
display:block;
border-radius:25px;
}
.Dropdown-Menu{
display:none;
margin-top:10px;
position:relative;
}
.Dropdown:hover .Dropdown-Menu{
display:table;
}
.tele_icon{
border-radius:50%
}
.upi{
margin-left:20px;
}
/*** link ***/
.tele_link{
text-decoration:none;
margin-left:20px;
font-size:19px;
}

.brand_name{
animation-name:example;
animation-duration:7s;
}
@keyframes example{
0%{color:red;}
25%{color:yellow;}
50%{color:green;}
70%{color:pink;}
85%{color:violet;}
100%{color:brown;}
}
.name{
position:relative;
animation-name:examples;
animation-duration:3s;
animation-direction:reverse;
}
@keyframes examples{
0%{left:0px;top:0px;}
25%{left:200px;top:0px;}
50%{left:200px;top:200px;}
75%{left:0px;top:200px;}
100%{left:0px;top:0px;}
}

.card_slide{
position:relative;
animation-name:exam;
animation-duration:1.3s;
}
@keyframes exam{
0%{left:0px;top:0px;}
100%{left:5opx;top:60px;}
}
